@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  --col-flex-grow: 0!important;
  flex-wrap: nowrap!important;
  --grid-gutter: 0;
}

:root {
  --cphBlue: #00163b;
  --cphYellow: #fbb040;
  --cphYellowHover: #e29e38;
  --textColor: #9c9c9c;
  --textColor2: #676767;
}

html {
  font-family: poppins, sans-serif !important;
}

.bg {
  background-color: var(--cphBlue);
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}
.m-96bdd299 {
  padding: 0 !important;
}
.img-bg {
  background-color: var(--cphYellow);
  padding: 0 !important;
}
.form-bg {
  background-color: white;
}
.form-border {
  border: none !important;
  box-shadow: none !important;
}
.logo {
  position: relative;
  margin-bottom: 120px;
}
.logo-left {
  width: 10px;
  height: 80px;
  display: block;
  background-color: var(--cphYellow);
  position: absolute;
  top: 0px;
  left: -40px;
}
.logo-right {
  width: 10px;
  height: 80px;
  display: block;
  background-color: var(--cphYellow);
  position: absolute;
  top: 0px;
  left: 30.5px;
}
.logo-top {
  width: 10px;
  height: 80px;
  display: block;
  background-color: var(--cphYellow);
  position: absolute;
  top: -35px;
  left: -5px;
  transform: rotate(90deg);
}
.logo-bottom {
  width: 10px;
  height: 80px;
  display: block;
  background-color: var(--cphYellow);
  position: absolute;
  top: 35px;
  left: -5px;
  transform: rotate(90deg);
}
.logo-text {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-family: "Hepta Slab", serif;
  margin-top: -35px;
  color: var(--cphYellow);
}
.logo-first-text {
  color: var(--cphBlue);
}
.sign-in {
  background-color: var(--cphYellow) !important;
}
.sign-in:hover {
  background-color: var(--cphYellowHover) !important;
  transition: 0.2s ease;
}

/*! Farve til remember me, når den er krydset af  */
.m-bf2d988c {
  --checkbox-color: var(--cphYellow) !important;
}

.AuthenticationTitle_title__PxqeA {
  font-family: roboto, sans-serif !important;
  font-weight: 600 !important;
}

/*
!=========================================
!=========================================
!=========================================
!============= Home / Index ==============
!=========================================
!=========================================
!=========================================
*/
.__m__-Rrem {
  --col-flex-grow: 0 !important;
}
.right-bg {
  background-color: white !important;
}

/*
!=========================================
!=========================================
!=========================================
!=========== Available Times =============
!=========================================
!=========================================
!=========================================
*/
.__m__-r21 {
  --grid-gutter: none!important;
}
.__m__-R6m {
  --grid-gutter: none!important;
}
.__m__-R1bem {
  --grid-gutter: none!important;
}

.m-410352e9 {
  overflow: visible !important;
}
.booking {
  display: flex;
  height: 100dvh !important;
}
.booking h1 {
  font-size: 3.5rem;
}

.sidebar {
  display: flex;
  justify-content: center;
  background-image: url("../assets/sidebar-background.png");
  height: 90vh;
}
.sidebar > * {
  margin-top: 20px;
}
.back-button {
  margin-inline: 10px;
}

.booking-flow-icons {
  display: flex;
  align-items: center;

}

.booking-flow {
  background-color: white;
  height: 90%;
}
.booking-flow-timeline1 {
  height: 5px;
  width: 186px;
  background-color: var(--cphYellow);
  border-radius: 20px;
}
.booking-flow-timeline2 {
  height: 5px;
  width: 486px;
  background-color: var(--cphYellow);
  border-radius: 20px;
}
.booking-flow-timeline3 {
  height: 5px;
  width: 486px;
  background: rgb(251, 176, 64);
  background: linear-gradient(
    90deg,
    rgba(251, 176, 64, 1) 0%,
    rgba(251, 176, 64, 1) 14%,
    rgba(156, 156, 156, 1) 30%
  );
  border-radius: 20px;
}
.booking-flow-timeline4 {
  height: 5px;
  width: 186px;
  background-color: var(--textColor);
  border-radius: 20px;
}
.booking-icons {
  padding-inline: 10px;
  color: var(--cphYellow);
}
.booking-icons-middle {
  padding-left: 13px;
  color: var(--cphYellow);
}
.booking-main {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}
.booking-main h3 {
  font-size: 1.8rem;
  font-weight: bold;
}
.booking-main label {
  font-size: 1.2rem;
  font-weight: 600;
}
.booking-main input {
  border: none;
  background-color: lightgray;
  padding: 4px 10px;
}
.labels {
  display: grid;
  margin-bottom: 15px;
}
.new-reservation h1,
h3,
h4,
label {
  color: var(--textColor2);
}
.new-reservation {
  margin-top: -40px;
  padding-inline: 30px;
  padding-bottom: 10px;
}
.new-reservation p {
  color: var(--textColor);
}
.reservation-info {
  line-height: 0.3rem;
  padding-bottom: 20px;
}
.date {
  margin-top: -30px;
  margin-bottom: -20px;
}

/*
!=========================================
!=========================================
!=========================================
!============ New Reservations ===========
!=========================================
!=========================================
!=========================================
*/
.cr-container .cr-grid{
  --grid-gutter: 1!important;
}
.nr-container {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.nr-datepicker {
  padding-top: 20px;
}

.nr-numberinput {
  padding-top: 5px;
}

.nr-numberinput-div {
  margin: auto !important;
}

.nr-flex {
  border: solid var(--textColor);
  padding: 10%;
}

.modal-title {
  padding-bottom: 30px;
  color: var(--textColor2);
  font-size: 1.5rem !important;
}

.nr-modal-div {
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-title {
  padding-bottom: 20px;
  color: var(--textColor2);
}

.date-title {
  color: var(--textColor2);
  font-size: 1.5rem !important;
}

.__m__-rlh .__m__-r95 {
  --grid-gutter: 0!important;
}

.m-396ce5cb[data-selected] {
  --_day-bg: var(--cphYellow) !important;
  --_day-color: var(--mantine-color-white);
}

.numberinput-title {
  color: var(--textColor2);
  font-size: 1.5rem !important;
}

.nr-button-div {
  justify-content: flex-end;
  display: flex;
  padding-top: 140px;
}

.nr-grid {
  border: 1px solid var(--textColor);
  justify-content: flex-start;
  display: flex;
  margin: 20px;
  padding: 10px 0 20px 0 !important;
}

.nr-datepicker-div {
  margin: auto !important;
}
.time-button {
  background-color: var(--cphYellow) !important;
}

.ur-container p {
 color: var(--textColor);

}


.ur-grid {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  padding-top: 20px;
}

.this-week-grid {
  border: 1px solid var(--textColor);
  justify-content: center;
  display: flex;
  margin-block: 20px;
}

.ur-thisweek-dato {
  display: block;
  border-right: 1px solid var(--textColor);
  line-height: 10px;
  padding: 10px;
  text-align: center;
}

.ur-thisweek-title {
  color: var(--cphYellow);
}

.ur-button {
  color: var(--cphYellow);

  display: flex;
  align-items: end;

  padding: 0 10px 5px 0;
}

.ur-thisweek-info {
  line-height: 10px;
  padding: 10px;

  width: 150px;
}

.title-date {
  font-size: 2rem;
  color: var(--textColor2)
}

.ur-title {
  color: var(--textColor2);
  padding-top: 20px;
}

.combobox-start {
  padding-top: 20px;
}







/*
!=========================================
!=========================================
!=========================================
!======== Reservations Complete ==========
!=========================================
!=========================================
!=========================================
*/
.rc {
  height: 80dvh;
}
.rc-title {
  color: var(--textColor2);
}
.rc-info-title {
  color: var(--textColor2);
  font-size: 1.3rem!important;
}
.rc-info-text {
  color: var(--textColor)!important;

}
.rc-paper-div {
  display: flex;
  justify-content: center;

}
.rc-facilities-elements {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
}

.rc-facilities-item {
  text-align: center;
}



.rc-paper {
  border: 1px solid var(--textColor)!important;
}
.rc-img {
  height: 200px;
  width: 200px;
}

.rc-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.angry-grid {
  display: grid; 

  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  
  gap: 10px;
  
}
 
#item-0 {

  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 3;
  
}
.item-0-text {
  margin-bottom: 10px!important;
}
#item-2 {
  margin:auto;

  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;
  
}

























/*
!=========================================
!=========================================
!=========================================
!============ Profile Page ===============
!=========================================
!=========================================
!=========================================
*/

.profile-container {
  display: flex;
  justify-content: space-between;
}

.profile-info {
  display: flex;
  justify-content: flex-start;
}

.profile-photo {
  padding-top: 15px;
}

.profile-text {
  line-height: 10px;
  padding-left: 20px;
  padding-top: 10px;
  color: white;
}

.profile-avatar {
  width: 70px !important;
  height: 68px !important;
}

.profile-container button {
  padding: 5px 10px;
  height: fit-content;
  margin-top: auto;
  margin-bottom: 10px;

  background-color: var(--cphYellowHover);
}
.m-811560b9 {
  overflow: visible !important;
}

/*
!=========================================
!=========================================
!=========================================
!=============== Form ====================
!=========================================
!=========================================
!=========================================
*/

.form {
  display: grid;
}
.form label {
  font-size: 20px;
  font-weight: 400;
  color: var(--textColor);
}
.form input {
  padding: 10px;
  border: 1px solid var(--textColor);
  border-radius: 10px;
}
.form :nth-child(3) {
  margin-top: 10px;
}
.form :nth-child(4) {
  margin-bottom: 10px;
}
.form :nth-child(5) {
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: var(--cphYellow);
  border: none;
  border-radius: 10px;
  transition: 0.2s ease-in-out;

  margin-bottom: 10px;
}
.form :nth-child(5):hover {
  background-color: var(--cphYellowHover);
}

/*
!=========================================
!=========================================
!=========================================
!============ Classroom Card =============
!=========================================
!=========================================
!=========================================
*/

.classrooms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.classroom-card {
  border: 1px solid var(--textColor);
  padding: 10px;
  width: 220px;
}

.classroom-card-img {
  display: flex;
  margin-inline: auto;
}

.classroom-number {
  color: var(--textColor2);
  margin-top: -10px;
}










.yallah {
  font-size: 10rem;
  color: cyan
}